<!--==================== FOOTER ====================-->
<footer>
  <div class="footer__container container">
    <div class="footer__left">
      <h3>EMERSON <span>CABRERA</span></h3>
      <p>Profesor y Desarrollador Web</p>
      <a href="https://emersoncabrera.com">
        <img src="https://emersoncabrera.com/img/logo.png" class="logo" alt="Logo de Emerson Cabrera" />
      </a>
    </div>

    <div class="footer__center">
      <div class="footer__center--location">
        <i class="ri-map-pin-user-fill"></i>
        <p>Valledupar, Colombia.</p>
      </div>
      <div class="footer__center--email">
        <i class="ri-mail-fill"></i>
        <p>
          <a href="mailto:info@emersoncabrera.com">info&#64;emersoncabrera.com</a>
        </p>
      </div>
      <div class="footer__center--contact">
        <i class="ri-contacts-book-2-fill"></i>
        <p><a href="https://emersoncabrera.com/#contact">Contacto</a></p>
      </div>
    </div>
  </div>
</footer>