<!--==================== HEADER ====================-->
<header id="header">
  <div class="menubar">
    <div class="menubar__container container">
      <!-- Logo -->
      <a href="https://emersoncabrera.com">
        <img src="https://emersoncabrera.com/img/logo.png" class="logo" alt="Logo de Emerson Cabrera Salas" />
      </a>

      <!-- Menu -->
      <nav>
        <ul class="menu">
          <li class="menu__item">
            <a href="https://emersoncabrera.com#about">Sobre el Autor</a>
          </li>

          <li class="menu__item">
            <a href="https://emersoncabrera.com">Mi Sitio Web</a>
          </li>

        </ul>
      </nav>


    </div>
  </div>

</header>