<!--==================== HEADER ====================-->
<header id="header">
  <div class="menubar">
    <div class="menubar__container container">
      <!-- Logo -->
      <img src="https://emersoncabrera.com/img/logo.png" class="logo" alt="Logo de Emerson Cabrera Salas" />

      <!-- Menu -->
      <nav>
        <ul class="menu">
          <li class="menu__item">
            <a href="https://emersoncabrera.com#about">Sobre el Autor</a>
          </li>

          <li class="menu__item">
            <a href="https://emersoncabrera.com">Mi Sitio Web</a>
          </li>

        </ul>
      </nav>

      <!-- Theme button -->
      <i class="ri-moon-fill change-theme" id="theme-button"></i>

      <!-- Menu Mobile Button -->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="menu-mobile-btn"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </div>
  </div>

</header>