<section class="calculator">

  <div class="calculator__container container">

    <div class="calculator__info">

      <h1 class="text-first-color">{{ title }}</h1>
      <h2 class="text-second-color">{{ subtitle }}</h2>
      <hr>

      <p>
        {{ description1 }} {{ table1 }} o {{ table2 }}. <br>
        La <strong>{{ table1 }}</strong> {{ description2 }} <br>
        La <strong>{{ table2 }}</strong> {{ description3 }} <br>
      </p>
    </div>

    <div class="calculator__form">

      <form [formGroup]="myForm" autocomplete="off">

        <div class="form-item">
          <label for="selTable">Tipo de tabla:</label>
          <select formControlName="tableType" (change)="onSelectTable()" #selTable class="w-80">
            @for (option of tableOptions; track $index) {
              <option value="{{ option.value }}">{{ option.option }}</option>
            }
          </select>
        </div>

        @if (selectedTableVal == '1') {
          <div class="form-item">
            <label for="selEfm">Educación formal mínima:</label>
            <select formControlName="efmControl" (change)="onSelectEfm()" #selEfm class="w-100">
              @for (option of efmOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <div class="form-item">
            <label for="selSaberPro">Saber Pro y Saber TyT:</label>
            <select formControlName="saberProControl" (change)="onSelectSaberPro()" #selSaberPro class="w-100">
              @for (option of saberProOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <div class="form-item">
            <label for="selExp" style="display: block; margin-bottom: 8px;">Experiencia Docente:</label>

            <!-- Tiempo de experiencia docente: -->
            <label for="tiempo">Tiempo:</label>
            
            <div class="form-item w-60 flex" style="column-gap: 10px; margin: 0 auto;">
              <input type="number" name="autoevaluacion" id="tiempo" min="0" class="w-40">
              
              <select class="w-50">
                <option value="a">Años</option>
                <option value="m">Meses</option>
              </select>
            </div>

            <!-- Tiempo de experiencia docente: -->
            <label for="tiempo">Zona de la experiencia:</label>
            <select formControlName="expControl" (change)="onSelectExp()" #selExp class="w-100">
              @for (option of expOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>
        }

        <div class="form-item">

          <!-- Alert si error -->
          <div class="alert alert-danger no-display w-70" id="alertFailValidation"></div>

        </div>

        <div class="form-item">

          <button type="button" id="calcular" class="btn">Calcular</button>
          <button type="button" id="borrar" class="btn bg-danger">Borrar</button>

        </div>

        <div class="form-item">

          <h3 class="text-second-color">Prueba Pedagógica:</h3>
          <div id="resultados"></div>

        </div>

      </form>

    </div>

  </div>

</section>