<section class="calculator">

  <div class="calculator__container container">

    <div class="calculator__info">

      <h1 class="text-first-color">{{ title }}</h1>
      <h2 class="text-second-color">{{ subtitle }}</h2>
      <hr>

      <p>
        {{ description1 }} {{ table1 }} o {{ table2 }}. <br>
        La <strong>{{ table1 }}</strong> {{ description2 }} <br>
        La <strong>{{ table2 }}</strong> {{ description3 }} <br>
      </p>
    </div>
    
    <div class="calculator__form">
      
      <form [formGroup]="myForm" autocomplete="off">
        
        <!-- Tipo de tabla -->
        <div class="form-item">
          <label for="selTable">Tipo de tabla:</label>
          <select formControlName="tableType" (change)="onSelectTable()" #selTable class="w-80">
            @for (option of tableOptions; track $index) {
              <option value="{{ option.value }}">{{ option.option }}</option>
            }
          </select>
        </div>

        @if (selectedTableVal == '1') {
          <!-- Educación formal mínima -->
          <div class="form-item">
            <label for="selEfm">Educación formal mínima:</label>
            <select formControlName="efmControl" (change)="onSelectEfm()" #selEfm class="w-100">
              @for (option of efmOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Saber Pro y Saber TyT -->
          <div class="form-item">
            <label for="selSaberPro1">Saber Pro y Saber TyT:</label>
            <select formControlName="saberProControl1" (change)="onSelectSaberPro1()" #selSaberPro1 class="w-100">
              @for (option of saberProOptions1; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Experiencia docente -->
          <div class="form-item">
            <label for="selExp" style="display: block; margin-bottom: 8px;">Experiencia Docente:</label>
            <p>Ingrese su experiencia docente en niveles inicial, preescolar, basica y media. Indique ubicación y tiempo, luego haga clic en el botón "Agregar". Puede agregar varias.</p>

            <!-- Zona de la experiencia docente: -->
            <label for="tiempo">Zona de la experiencia:</label>
            <select formControlName="expControl" (change)="onSelectExp()" #selExp class="w-100">
              @for (option of expOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
            <br>
            
            <!-- Tiempo de experiencia docente: -->
            <label for="tiempo">Tiempo en años:</label>
            <input type="number" formControlName="expTimeControl" #inpTime id="tiempo" min="0" class="w-40" style="display: block; margin: auto;">

            <button type="button" class="btn bg-success" (click)="addExperience()">
              Agregar
            </button>

            <ul id="expList" style="margin-top: 6px;"></ul>
          </div>

          <!-- Experiencia Docente en cualquier nivel -->
          <div class="form-item">
            <label for="selExp" style="display: block; margin-bottom: 8px;">Experiencia Docente en otro nivel:</label>
            <label for="tiempo2">Tiempo en años:</label>
            <input type="number" formControlName="expCualqControl" #inpTimeExpCualq id="tiempo2" min="0" class="w-40" style="margin-bottom: 10px;">
          </div>

          <!-- Vínculo en la zona donde se oferta la vacante -->
          <div class="form-item">
            <label for="selVinculo">Vínculo en la zona de la vacante:</label>
            <select formControlName="vinculoControl" (change)="onSelectVinculo()" #selVinculo class="w-100">
              @for (option of vinculoOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Educación Formal Adicional -->
          <div class="form-item">
            <label for="selEfa">Educación Formal Adicional:</label>
            <select formControlName="efaControl" (change)="onSelectEfa()" #selEfa class="w-100">
              @for (option of efaOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

        }
        @else if (selectedTableVal == '2') {
          <!-- Título Orientado a la Docencia -->
          <div class="form-item">
            <label for="selTod">Título Orientado a la Docencia:</label>
            <select formControlName="todControl" (change)="onSelectTod()" #selTod class="w-100">
              @for (option of todOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Saber Pro y Saber TyT -->
          <div class="form-item">
            <label for="selSaberPro2">Saber Pro y Saber TyT:</label>
            <select formControlName="saberProControl2" (change)="onSelectSaberPro2()" #selSaberPro2 class="w-100">
              @for (option of saberProOptions2; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Educación Formal Adicional -->
          <div class="form-item">
            <label for="selEfa">Educación Formal Adicional:</label>
            <select formControlName="efaControl" (change)="onSelectEfa()" #selEfa class="w-100">
              @for (option of efaOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Educación para el Trabajo y Desarrollo Humano -->
          <div class="form-item">
            <label for="selEtdh">Educación para el Trabajo y Desarrollo Humano:</label>
            <select formControlName="etdhControl" (change)="onSelectEtdh()" #selEtdh class="w-100">
              @for (option of etdhOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Educación informal -->
          <div class="form-item">
            <label for="selEi">Educación Informal:</label>
            <select formControlName="eiControl" (change)="onSelectEi()" #selEi class="w-100">
              @for (option of eiOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>

          <!-- Vínculo en la zona donde se oferta la vacante -->
          <div class="form-item">
            <label for="selVinculo">Vínculo en la zona de la vacante:</label>
            <select formControlName="vinculoControl" (change)="onSelectVinculo()" #selVinculo class="w-100">
              @for (option of vinculoOptions; track $index) {
                <option value="{{ option.value }}">{{ option.option }}</option>
              }
            </select>
          </div>
        }

        <div class="form-item">
          <button type="button" id="calcular" class="btn" style="margin-right: 8px;" (click)="calcularPuntaje()">
            Calcular
          </button>
          
          <button type="button" id="borrar" class="btn bg-danger" (click)="resetForm()">
            Limpiar
          </button>
        </div>

        <div id="resultados"></div>

      </form>

    </div>

  </div>

</section>